<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}" charset="UTF-8"></script>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet" media="screen">

    <script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.js" %}" charset="UTF-8"></script>



    {{ form.media }}

</head>
<body>
<div class="container">

                        {% if created == "Error" %}
                            <div class="bg-error" id="event_status">Please choose a valid name, date, and time for your event.</div>
                        {% endif %}
                        {%  if created == True %}
                            <div class="bg-success" id="event_status"><script>loadCalendar();</script>Your event has been created.</div>
                        {% endif %}

    <form  action="" method="POST">
    {% csrf_token %}
    {{ event_form.as_p }}
    <input id="submit" type="submit" value="Submit">
    </form>
    </div>
</body>