{% load mathfilters %}

{% for event in events %}

            <p>BEGIN:VCALENDAR</p>
            <p>VERSION:2.0</p>
            <p>PRODID:{{ event.id }}</p>
            <p>BEGIN:VEVENT</p>
            <p>UID:{{ event.id }}</p>
            <p>DTSTAMP:{{ event.time|date:"Ymd\THis\Z" }}</p>
            <p>ORGANIZER;CN={{ User.name }}Doe:MAILTO:{{ User.email }}</p>
            <p>DTSTAMP:{{ event.time|date:"Ymd\THis\Z" }}</p>
            <p>DTEND:{{ event.time|date:"Ymd\THis\Z" }}</p>
            <p>SUMMARY:{{ event.name }}</p>
            <p>END:VEVENT</p>
            <p>END:VCALENDAR</p>

{% endfor %}

